<div class="container-fluid">
  <span class="d-block p-2 bg-white text-black">Items</span>
  <table class="table table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of items | async; index as i">
        <th scope="row">{{ i + 1 }}</th>
        <td>
          {{ item.data.name }}
        </td>
        <td>{{ item.data.price }}</td>
      </tr>
    </tbody>
  </table>
</div>
