<span class="d-block p-3 bg-dark text-white"
  >Kacha Bazaar<span class="d-block float-right p-2 bg-dark text-white">
    <a
      [routerLink]="['/']"
      class="text-white"
      style="font-size: 10px;"
      href="#"
    >
      Home
    </a>
    |<a
      [routerLink]="['/items']"
      class="text-white"
      style="font-size: 10px;"
      href="#"
    >
      Items
    </a>
    |
    <a
      [routerLink]="['/about']"
      class="text-white"
      style="font-size: 10px;"
      href="#"
    >
      Markets
    </a>
  </span>
</span>
<router-outlet></router-outlet>
